*

!flake.nix
!flake.lock

!.gitignore
!README.md

!.python-version
!pyproject.toml

!src/
!src/auric/
!src/auric/**/*.py

!examples/
!examples/*.py

!notes/
!notes/*.md

!tests/
!tests/*.py

!std/
!std/*.au
